---
import Layout from "@/layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import Timeline from "@components/Timeline.astro";
---

<Layout title="Immersion in Video Games">
  <main class="px-4">
    <Hero />
    <Timeline />
  </main>
</Layout>
