---
import bus from "@/assets/bus.webp";
---

<section class="mb-60 mt-32">
  <div
    class="flex flex-col md:flex-row items-center md:items-end justify-center mb-8 mx-auto"
  >
    <img
      src={bus.src}
      alt="Fortnite bus"
      class="w-full max-w-[420px] sm:ms-28 md:ms-0"
    />
    <h1 class="text-4xl font-bold mt-8">Lessons Learnt From a Pilot Study<br/> on Immersion in Video Games</h1>
  </div>
  <div class="m-auto max-w-prose">
    <p>
      On this page you can view the supplementary material of the paper "<i>Lessons Learnt From a Pilot Study on Immersion in Video Games</i>" submitted to Chi Play 2024 - Work in Progress.
    </p>
  </div>
</section>
