---
import Release from "@components/Release.astro";
import room from "@/assets/room-setting.png";
---

<section>
  <ol class="relative border-s border-purple-500 max-w-screen-lg m-auto">
    <div class="absolute top-0 left-0 w-[1px] h-full bg-purple-500"></div>
    <Release title="Room setting" version="V2" link="#">
      <div>
        <p>
          <img
          src={room.src}
          alt="room setting"
          class="w-full max-w-[420px] sm:ms-28 md:ms-0"
        />
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </Release>
  </ol>
</section>
