---
import Release from "@components/Release.astro";
import Button from "@components/Button.astro";
import room from "@/assets/room-setting.png";
import brief from "@/assets/brief-en.png";
import script from "@/assets/script-en.png";
---

<section>
  <ol class="relative border-s border-purple-500 max-w-screen-lg m-auto">
    <div class="absolute top-0 left-0 w-[1px] h-full bg-purple-500"></div>
    <Release title="Room setting" version="V2" link="#">
      <div>
        <p>
          <img
          src={room.src}
          alt="room setting"
          class="w-full sm:ms-28 md:ms-0"
        />
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur.
        </p>
      </div>
    </Release>
    <Release title="Brief" link="#">
      <div>
        <p>
          <img
          src={brief.src}
          alt="brief"
          class="w-full sm:ms-28 md:ms-0"
        />
        </p>
      </div>
    </Release>
    <Release title="Script" link="#">
      <div>
        <p>
          <img
          src={script.src}
          alt="script"
          class="w-full sm:ms-28 md:ms-0"
        />
        </p>
      </div>
    </Release>
    <Release title="Script" link="#">
        <div
        class="rounded-lg bg-gray-600 aspect-video grid place-content-center font-bold"
      >
        Video
      </div>
    </Release>
    <Release title="Questionnaires" version="V2" link="#">
      <Button href="https://forms.gle/LQm9XTQxQ3MafaRq8" variant="secondary" className="ml-4">
        Your Gaming Experience
      </Button>
      <Button href="https://forms.gle/XHyV3aoK3CKd4Mtv6" variant="secondary" className="ml-4">
        Pre-test Questionnaire
      </Button>
      <Button href="https://forms.gle/oRibRdyPTc97Z5uu8" variant="secondary">
        IEQ - Questionnaire about your game experience
      </Button>
    </Release>
  </ol>

</section>
