---
import Release from "@components/Release.astro";
import Button from "@components/Button.astro";
import room from "@/assets/room-setting.png";
import brief from "@/assets/brief-en.png";
import script from "@/assets/script-en.png";
---

<section>
  <ol class="relative border-s border-purple-500 max-w-screen-lg m-auto">
    <div class="absolute top-0 left-0 w-[1px] h-full bg-purple-500"></div>
    <Release title="Room setting">
      <div>
        <p>
          <img
          src={room.src}
          alt="room setting"
          class="w-full max-w-2xl sm:ms-28 md:ms-0"
        />
        </p>
        <div class="mt-8">
        <p>
          The experimental room is designed with two distinct workstations, the subject station and the researcher station, 
          separated by a partitioner that ensures privacy and minimises distractions. 
          The Subject station is equipped with a Playstation 5, a screen, a soundbar positioned below the monitor, 
          and two webcams, one positioned in front of the user and the other pointing at them from the top. On the right side, 
          the Researcher station features a computer screen, and a webcam similarly mounted above the monitor. 
        </p>
        </div>
      </div>
    </Release>
    <Release title="Brief" link="#">
      <div>
        <p>
          <img
          src={brief.src}
          alt="brief"
          class="w-full max-w-2xl sm:ms-28 md:ms-0"
        />
        </p>
      </div>
    </Release>
    <Release title="Script" link="#">
      <div>
        <p>
          <img
          src={script.src}
          alt="script"
          class="w-full max-w-2xl sm:ms-28 md:ms-0"
        />
        </p>
      </div>
    </Release>
    <Release title="EXPERIMENT" link="#">
      <iframe
      class="rounded-lg bg-gray-600 grid place-content-center w-full aspect-video"
      src="https://www.dailymotion.com//embed/video/k2EezbAhKZSTnOAOowW">
  </iframe>
    </Release>
    <Release title="Questionnaires" version="V2" link="#">
      <Button href="#" variant="secondary">
        1
      </Button>
      <Button href="#" variant="secondary" className="ml-4">
        2
      </Button>
      <Button href="#" variant="secondary" className="ml-4">
        3
      </Button>
    </Release>
  </ol>

</section>
